@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

  <div class="box">
    <h2>Add/Update/Delete Student</h2>
    <form action="">
      <div class="form-control">
        <label for="code">Code</label>
        <input type="text" placeholder="Enter Student Code" id="code">
      </div>
      <div class="form-control">
        <label for="firstName">First Name</label>
        <input type="text" placeholder="Enter Student First Name" id="firstName">
      </div>
      <div class="form-control">
        <label for="lastName">Last Name</label>
        <input type="text" placeholder="Enter Student Last Name" id="lastName">
      </div>
      <div class="form-control">
        <label for="grade">Grade</label>
        <input type="text" placeholder="Enter Student Grade" id="grade">
      </div>
    </form>
  </div>